@{
    ViewBag.Title = "Nguyen Minh Hiep";
}
<h2>@ViewBag.Title.</h2>
<h3>BaiLesson11 Nguyen Minh Hiep</h3>

<address>
   K22CNT1 - Môn lập trình ứng dụng web
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hiepvip292@gmail.com">hiepvip292@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hiepvip292@gmail.com">hiepvip292@gmail.com</a>
</address>